:root {
  font-family: monospace;
  color: white;
  background-color: #3a3a3a;
}

body {
   color: white;
}

button {
  font-family: monospace;
  cursor: pointer;
  border: none;
  background-color: #b4b4b4;
}

#main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-items: space-between;
  justify-items: center;
  justify-content: space-between;
}

#click-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: space-between;
}

#upgrades-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: space-between;
}

#settings-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: space-between;
}

#drones-text {
  margin: 10px;
  font-size: 30px;
}

#dps-text {
  margin: 10px;
  font-size: 30px;
}

#click-button {
  margin: 10px;
  padding: 40px;
  border: 2px solid, black;
  border-radius: 50px;
  background-color: #c10e0e;
  box-shadow: 0px 9px 2px #4d0000a8;
}

#click-button:active {
  height: 20px;
  transform: translateY(4px);
  box-shadow: 0px 5px 1px #450000d0;
}

#clicks-button:active {
  width: 60px;
}

.passive-upgrade {
  margin: auto;
  width: 220px;
  height: auto;
  border: 2px solid, black;
  border-radius: 5px;
}

#save-text {
  position: absolute;
  visibility: hidden;
  color: green;
  font-size: 15px;
  font-weight: bold;
  top: 7px;
}

#save-button {
  margin: 10px;
  width: 150px;
  height: 50px;
  border: 2px solid, black;
  border-radius: 50px;
}

#reset-button {
  margin: 10px;
  width: 150px;
  height: 50px;
  border: 2px solid, black;
  border-radius: 50px;
}

